body,
html {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#container {
    transition: opacity 2s ease-in-out;
}

/* Name Evangelina */
/* .text-container {
    height: 100vh;
    display: flex;
    margin-top: -80px;
    justify-content: center;
    align-items: center;
}

.loading {
    display: flex;
    flex-direction: row;
}

.loading__letter {
    font-size: 88px;
    font-weight: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive;
    color: #E96F94AB;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.loading__letter:nth-child(2) {
    animation-delay: .1s;
}

.loading__letter:nth-child(3) {
    animation-delay: .2s;
}

.loading__letter:nth-child(4) {
    animation-delay: .3s;
}

.loading__letter:nth-child(5) {
    animation-delay: .4s;
}

.loading__letter:nth-child(6) {
    animation-delay: .5s;
}

.loading__letter:nth-child(7) {
    animation-delay: .6s;
}

.loading__letter:nth-child(8) {
    animation-delay: .8s;
}

.loading__letter:nth-child(9) {
    animation-delay: 1s;
}

.loading__letter:nth-child(10) {
    animation-delay: 1.2s;
}

@keyframes bounce {
    0% {
        transform: translateY(0px)
    }

    40% {
        transform: translateY(-40px);
    }

    80%,
    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 650px) {
    .loading__letter {
        font-size: 50px;
    }
}

@media (max-width: 320px) {
    .loading__letter {
        font-size: 30px;
    }
} */

.loader {
    margin: 0 auto;
    width: 60px;
    height: 50px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);

    >div {
        height: 100%;
        width: 8px;
        display: inline-block;
        float: left;
        margin-left: 2px;
        -webkit-animation: delay 0.8s infinite ease-in-out;
        animation: delay 0.8s infinite ease-in-out;
    }

    .bar1 {
        background-color: #ffc0cb;
        /* Rosa claro */
    }

    .bar2 {
        background-color: #ffb6c1;
        /* Rosa más intenso */
        -webkit-animation-delay: -0.7s;
        animation-delay: -0.7s;
    }

    .bar3 {
        background-color: #ff80ab;
        /* Rosa más vivo */
        -webkit-animation-delay: -0.6s;
        animation-delay: -0.6s;
    }

    .bar4 {
        background-color: #ff69b4;
        /* Rosa fuerte */
        -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s;
    }
    
    .bar5 {
        background-color: #ff1493;
        /* Rosa más oscuro */
        -webkit-animation-delay: -0.4s;
        animation-delay: -0.4s;
    }

    .bar6 {
        background-color: #db7093;
        /* Rosa más apagado */
        -webkit-animation-delay: -0.3s;
        animation-delay: -0.3s;
    }
}

@-webkit-keyframes delay {

    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.05)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes delay {

    0%,
    40%,
    100% {
        transform: scaleY(0.05);
        -webkit-transform: scaleY(0.05);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}