#container {
    transition: opacity 2s ease-in-out;
}

body,
html {
    background-color: #fff;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.loader {
    margin: 0 auto;
    width: 60px;
    height: 50px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);

    >div {
        height: 100%;
        width: 8px;
        display: inline-block;
        float: left;
        margin-left: 2px;
        -webkit-animation: delay 0.8s infinite ease-in-out;
        animation: delay 0.8s infinite ease-in-out;
    }

    .bar1 {
        background-color: #ffc0cb;
        /* Rosa claro */
    }

    .bar2 {
        background-color: #ffb6c1;
        /* Rosa m치s intenso */
        -webkit-animation-delay: -0.7s;
        animation-delay: -0.7s;
    }

    .bar3 {
        background-color: #ff80ab;
        /* Rosa m치s vivo */
        -webkit-animation-delay: -0.6s;
        animation-delay: -0.6s;
    }

    .bar4 {
        background-color: #ff69b4;
        /* Rosa fuerte */
        -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s;
    }
    
    .bar5 {
        background-color: #ff1493;
        /* Rosa m치s oscuro */
        -webkit-animation-delay: -0.4s;
        animation-delay: -0.4s;
    }

    .bar6 {
        background-color: #db7093;
        /* Rosa m치s apagado */
        -webkit-animation-delay: -0.3s;
        animation-delay: -0.3s;
    }
}

@-webkit-keyframes delay {

    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.05)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes delay {

    0%,
    40%,
    100% {
        transform: scaleY(0.05);
        -webkit-transform: scaleY(0.05);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}